.main-background {
    width:100%
}
// }
// .carousel-item {
//     width: 30rem;
//     height: 35rem;
// }

.carousel-item {
    width: 30rem;
    height: 20rem;

}
.carousel-image{
    width: 30rem;
    height: 20rem;
}

.grid-container {
    display: grid;
    grid-template-rows: 4.5rem 50rem 4.5rem;
}